@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Mulish', sans-serif;
}

*{
    margin-block-start: 0;
    margin-block-end: 0;
}

.header{
    padding: 12px 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    h1{
        font-size: 16px;
        text-transform: uppercase;
    }
}

button{
    border: none;
    max-width: 500px;
    border-radius: 12px;
    padding: 12px 24px;
    background: black;
    color: white;
}

.hero{
   background: violet;
}

