@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}


@theme inline{
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --color-typography-secondary: rgba(59, 88, 116, 1);
    --color-typography-accent: rgba(48, 58, 244, 1);
    --color-typography-description: rgba(216, 215, 245, 1);
    --color-typography-foreground: rgba(11, 27, 42, 1);

    --color-accent: rgba(48, 58, 244, 1);
    --color-accent-60: rgba(48, 58, 244, 1);
    --color-accent-40: rgba(48, 58, 244, 1);
    --color-secondary: rgba(59, 88, 116, 1);
    --color-secondary-60: rgba(59, 88, 116, 1);
    --color-secondary-40: rgba(59, 88, 116, 1);

    --color-foreground: rgba(11, 27, 42, 1);
    --color-background: rgba(216, 215, 245, 1);

    --font-namu: "NAMU";
    --font-mulish: "Mulish";
}

@font-face {
    font-family: NAMU;
    src: url(/fonts/NAMU-1990.ttf) format("truetype");
}

@layer base {

}

body{
    color: var(--color-foreground);
}
