@import "tailwindcss";
@import "tw-animate-css";

:root {
    --transparent: oklch(0% 0 none / 0);
    --black: oklch(0% 0 none);
    --white: oklch(100% 0 none);
    --colors-white: oklch(100% 0 none);
    --colors-primary-light: oklch(95.50% 0.0202 279.98deg);
    --colors-primary-light-hover: oklch(93.26% 0.0312 279.89deg);
    --colors-primary-light-active: oklch(86.20% 0.0641 279.15deg);
    --colors-primary-normal: oklch(56.79% 0.2214 271.74deg);
    --colors-primary-normal-hover: oklch(52.55% 0.2032 271.86deg);
    --colors-primary-normal-active: oklch(48.48% 0.1846 271.75deg);
    --colors-primary-dark: oklch(46.38% 0.1755 272.15deg);
    --colors-primary-dark-hover: oklch(39.67% 0.1470 272.48deg);
    --colors-primary-dark-active: oklch(32.87% 0.1155 272.57deg);
    --colors-primary-darker: oklch(27.98% 0.0937 273.00deg);
    --colors-green-success-light: oklch(96.77% 0.0174 153.45deg);
    --colors-green-success-light-hover: oklch(95.10% 0.0249 152.80deg);
    --colors-green-success-light-active: oklch(90.05% 0.0535 151.81deg);
    --colors-green-success-normal: oklch(69.29% 0.1653 147.87deg);
    --colors-green-success-normal-hover: oklch(64.20% 0.1522 148.01deg);
    --colors-green-success-normal-active: oklch(58.75% 0.1380 147.84deg);
    --colors-green-success-dark: oklch(56.10% 0.1309 148.16deg);
    --colors-green-success-dark-hover: oklch(47.99% 0.1101 148.25deg);
    --colors-green-success-dark-active: oklch(39.23% 0.0866 148.56deg);
    --colors-green-success-darker: oklch(33.31% 0.0709 149.11deg);
    --colors-red-danger-light: oklch(95.66% 0.0185 17.57deg);
    --colors-red-danger-light-hover: oklch(93.58% 0.0276 20.47deg);
    --colors-red-danger-light-active: oklch(86.97% 0.0609 20.93deg);
    --colors-red-danger-normal: oklch(63.45% 0.2075 26.72deg);
    --colors-red-danger-normal-hover: oklch(58.67% 0.1907 26.50deg);
    --colors-red-danger-normal-active: oklch(53.77% 0.1736 26.58deg);
    --colors-red-danger-dark: oklch(51.51% 0.1654 26.60deg);
    --colors-red-danger-dark-hover: oklch(43.94% 0.1378 26.27deg);
    --colors-red-danger-dark-active: oklch(36.02% 0.1088 26.39deg);
    --colors-red-danger-darker: oklch(30.49% 0.0885 25.76deg);
    --colors-yellow-warning-light: oklch(97.78% 0.0240 85.76deg);
    --colors-yellow-warning-light-hover: oklch(96.49% 0.0357 83.76deg);
    --colors-yellow-warning-light-active: oklch(93.06% 0.0737 84.79deg);
    --colors-yellow-warning-normal: oklch(80.16% 0.1705 73.26deg);
    --colors-yellow-warning-normal-hover: oklch(74.16% 0.1577 73.32deg);
    --colors-yellow-warning-normal-active: oklch(67.92% 0.1441 73.83deg);
    --colors-yellow-warning-dark: oklch(64.84% 0.1371 74.48deg);
    --colors-yellow-warning-dark-hover: oklch(55.10% 0.1164 74.75deg);
    --colors-yellow-warning-dark-active: oklch(44.90% 0.0946 75.18deg);
    --colors-yellow-warning-darker: oklch(37.75% 0.0791 76.73deg);
    --colors-blue-accent-light: oklch(96.00% 0.0210 241.32deg);
    --colors-blue-accent-light-hover: oklch(94.08% 0.0318 239.34deg);
    --colors-blue-accent-light-active: oklch(87.93% 0.0662 239.68deg);
    --colors-blue-accent-normal: oklch(66.02% 0.1877 250.17deg);
    --colors-blue-accent-normal-hover: oklch(61.10% 0.1735 250.12deg);
    --colors-blue-accent-normal-active: oklch(56.01% 0.1577 249.80deg);
    --colors-blue-accent-dark: oklch(53.54% 0.1491 249.38deg);
    --colors-blue-accent-dark-hover: oklch(45.53% 0.1262 249.18deg);
    --colors-blue-accent-dark-active: oklch(37.40% 0.1010 248.11deg);
    --colors-blue-accent-darker: oklch(31.60% 0.0828 246.82deg);
    --colors-black-light: oklch(96.12% 0 none);
    --colors-black-light-hover: oklch(94.31% 0 none);
    --colors-black-light-active: oklch(87.92% 0 none);
    --colors-black-normal: oklch(58.97% 0 none);
    --colors-black-normal-hover: oklch(54.86% 0 none);
    --colors-black-normal-active: oklch(50.32% 0 none);
    --colors-black-dark: oklch(48.19% 0 none);
    --colors-black-dark-hover: oklch(41.28% 0 none);
    --colors-black-dark-active: oklch(34.07% 0 none);
    --colors-black-darker: oklch(29.31% 0 none);



    --slate-50: oklch(98.42% 0.0034 247.80deg);
    --slate-100: oklch(96.83% 0.0068 247.86deg);
    --slate-200: oklch(92.88% 0.0126 255.51deg);
    --slate-300: oklch(86.86% 0.0216 252.51deg);
    --slate-400: oklch(70.38% 0.0401 256.99deg);
    --slate-500: oklch(55.42% 0.0460 257.52deg);
    --slate-600: oklch(44.54% 0.0430 257.42deg);
    --slate-700: oklch(37.17% 0.0449 257.42deg);
    --slate-800: oklch(27.99% 0.0408 260.33deg);
    --slate-900: oklch(20.84% 0.0417 266.36deg);
    --slate-950: oklch(12.98% 0.0425 265.13deg);
    --gray-50: oklch(98.46% 0.0017 247.73deg);
    --gray-100: oklch(96.70% 0.0028 264.70deg);
    --gray-200: oklch(92.76% 0.0058 264.60deg);
    --gray-300: oklch(87.20% 0.0105 261.81deg);
    --gray-400: oklch(70.71% 0.0223 261.76deg);
    --gray-500: oklch(55.10% 0.0267 264.33deg);
    --gray-600: oklch(44.61% 0.0298 257.68deg);
    --gray-700: oklch(37.31% 0.0343 260.17deg);
    --gray-800: oklch(27.84% 0.0335 257.67deg);
    --gray-900: oklch(20.99% 0.0341 263.44deg);
    --gray-950: oklch(12.96% 0.0274 261.69deg);
    --zinc-50: oklch(98.51% 0 none);
    --zinc-100: oklch(96.74% 0.0013 287.30deg);
    --zinc-200: oklch(91.97% 0.0040 286.61deg);
    --zinc-300: oklch(87.11% 0.0054 286.49deg);
    --zinc-400: oklch(70.57% 0.0144 286.09deg);
    --zinc-500: oklch(55.20% 0.0153 285.93deg);
    --zinc-600: oklch(44.22% 0.0162 285.75deg);
    --zinc-700: oklch(37.07% 0.0136 285.75deg);
    --zinc-800: oklch(27.39% 0.0055 286.10deg);
    --zinc-900: oklch(21.03% 0.0059 285.93deg);
    --zinc-950: oklch(14.08% 0.0044 285.86deg);
    --neutral-50: oklch(98.51% 0 none);
    --neutral-100: oklch(97.02% 0 none);
    --neutral-200: oklch(92.19% 0 none);
    --neutral-300: oklch(86.99% 0 none);
    --neutral-400: oklch(70.9% 0 none);
    --neutral-500: oklch(55.55% 0 none);
    --neutral-600: oklch(43.86% 0 none);
    --neutral-700: oklch(37.15% 0 none);
    --neutral-800: oklch(26.86% 0 none);
    --neutral-900: oklch(20.46% 0 none);
    --neutral-950: oklch(14.48% 0 none);
    --stone-50: oklch(98.48% 0.0014 105.52deg);
    --stone-100: oklch(96.99% 0.0014 105.54deg);
    --stone-200: oklch(92.32% 0.0026 49.03deg);
    --stone-300: oklch(86.87% 0.0043 56.48deg);
    --stone-400: oklch(70.93% 0.0101 62.55deg);
    --stone-500: oklch(55.40% 0.0136 59.41deg);
    --stone-600: oklch(44.41% 0.0110 78.20deg);
    --stone-700: oklch(37.38% 0.0100 73.59deg);
    --stone-800: oklch(26.85% 0.0063 34.35deg);
    --stone-900: oklch(21.61% 0.0061 56.06deg);
    --stone-950: oklch(14.69% 0.0041 49.28deg);
    --red-50: oklch(97.05% 0.0130 17.51deg);
    --red-100: oklch(93.65% 0.0320 17.79deg);
    --red-200: oklch(88.34% 0.0617 18.41deg);
    --red-300: oklch(80.54% 0.1109 19.79deg);
    --red-400: oklch(70.22% 0.1892 22.23deg);
    --red-500: oklch(63.79% 0.2373 25.44deg);
    --red-600: oklch(58.31% 0.2387 28.48deg);
    --red-700: oklch(50.95% 0.2086 28.51deg);
    --red-800: oklch(44.46% 0.1774 26.79deg);
    --red-900: oklch(39.67% 0.1408 25.72deg);
    --red-950: oklch(25.75% 0.0918 25.84deg);
    --orange-50: oklch(97.96% 0.0158 73.68deg);
    --orange-100: oklch(95.40% 0.0383 76.19deg);
    --orange-200: oklch(90.01% 0.0754 69.86deg);
    --orange-300: oklch(83.37% 0.1256 67.19deg);
    --orange-400: oklch(74.59% 0.1803 56.73deg);
    --orange-500: oklch(69.97% 0.2020 44.44deg);
    --orange-600: oklch(64.72% 0.2174 36.85deg);
    --orange-700: oklch(55.43% 0.1922 35.48deg);
    --orange-800: oklch(46.96% 0.1567 37.14deg);
    --orange-900: oklch(40.73% 0.1228 38.02deg);
    --orange-950: oklch(26.62% 0.0789 35.91deg);
    --amber-50: oklch(98.69% 0.0214 95.24deg);
    --amber-100: oklch(96.17% 0.0593 95.87deg);
    --amber-200: oklch(92.44% 0.1203 95.84deg);
    --amber-300: oklch(87.81% 0.1688 91.85deg);
    --amber-400: oklch(82.90% 0.1712 81.03deg);
    --amber-500: oklch(77.24% 0.1728 65.36deg);
    --amber-600: oklch(66.72% 0.1685 53.38deg);
    --amber-700: oklch(55.71% 0.1583 45.36deg);
    --amber-800: oklch(47.47% 0.1358 44.98deg);
    --amber-900: oklch(41.49% 0.1126 45.87deg);
    --amber-950: oklch(27.90% 0.0773 45.60deg);
    --yellow-50: oklch(98.73% 0.0263 102.17deg);
    --yellow-100: oklch(97.27% 0.0706 103.27deg);
    --yellow-200: oklch(94.53% 0.1294 101.40deg);
    --yellow-300: oklch(90.32% 0.1817 98.26deg);
    --yellow-400: oklch(85.35% 0.1744 88.77deg);
    --yellow-500: oklch(79.77% 0.1641 82.70deg);
    --yellow-600: oklch(68.22% 0.1465 71.46deg);
    --yellow-700: oklch(55.48% 0.1271 62.52deg);
    --yellow-800: oklch(47.76% 0.1115 60.42deg);
    --yellow-900: oklch(42.15% 0.0952 57.93deg);
    --yellow-950: oklch(28.71% 0.0663 54.58deg);
    --lime-50: oklch(98.57% 0.0310 120.71deg);
    --lime-100: oklch(96.67% 0.0671 122.05deg);
    --lime-200: oklch(93.69% 0.1264 124.25deg);
    --lime-300: oklch(89.80% 0.1965 126.71deg);
    --lime-400: oklch(84.26% 0.2256 129.65deg);
    --lime-500: oklch(77.09% 0.2156 132.45deg);
    --lime-600: oklch(64.93% 0.1841 133.28deg);
    --lime-700: oklch(53.21% 0.1487 132.39deg);
    --lime-800: oklch(45.28% 0.1241 131.17deg);
    --lime-900: oklch(40.39% 0.1003 130.80deg);
    --lime-950: oklch(27.31% 0.0716 132.27deg);
    --green-50: oklch(98.19% 0.0181 155.71deg);
    --green-100: oklch(96.24% 0.0434 156.70deg);
    --green-200: oklch(92.58% 0.0845 155.84deg);
    --green-300: oklch(87.04% 0.1490 154.61deg);
    --green-400: oklch(79.14% 0.2091 151.66deg);
    --green-500: oklch(72.89% 0.2119 147.82deg);
    --green-600: oklch(63.20% 0.1860 147.37deg);
    --green-700: oklch(52.96% 0.1495 148.99deg);
    --green-800: oklch(44.68% 0.1187 151.40deg);
    --green-900: oklch(39.35% 0.0957 152.27deg);
    --green-950: oklch(26.54% 0.0651 152.77deg);
    --emerald-50: oklch(97.93% 0.0207 166.01deg);
    --emerald-100: oklch(94.98% 0.0516 163.59deg);
    --emerald-200: oklch(90.53% 0.0939 163.85deg);
    --emerald-300: oklch(84.41% 0.1425 165.22deg);
    --emerald-400: oklch(76.88% 0.1688 161.94deg);
    --emerald-500: oklch(70.19% 0.1577 160.43deg);
    --emerald-600: oklch(60.31% 0.1345 160.92deg);
    --emerald-700: oklch(51.28% 0.1100 163.56deg);
    --emerald-800: oklch(43.36% 0.0901 165.86deg);
    --emerald-900: oklch(38.00% 0.0763 168.70deg);
    --emerald-950: oklch(26.13% 0.0501 173.09deg);
    --teal-50: oklch(98.36% 0.0142 180.58deg);
    --teal-100: oklch(95.20% 0.0507 181.04deg);
    --teal-200: oklch(91.08% 0.0962 180.09deg);
    --teal-300: oklch(85.39% 0.1375 181.56deg);
    --teal-400: oklch(78.29% 0.1408 181.37deg);
    --teal-500: oklch(71.05% 0.1276 181.59deg);
    --teal-600: oklch(60.49% 0.1070 184.15deg);
    --teal-700: oklch(51.52% 0.0905 185.72deg);
    --teal-800: oklch(43.76% 0.0760 188.53deg);
    --teal-900: oklch(38.71% 0.0634 187.20deg);
    --teal-950: oklch(27.66% 0.0460 192.51deg);
    --cyan-50: oklch(98.41% 0.0189 200.78deg);
    --cyan-100: oklch(95.56% 0.0453 203.19deg);
    --cyan-200: oklch(91.76% 0.0805 204.59deg);
    --cyan-300: oklch(86.54% 0.1272 207.06deg);
    --cyan-400: oklch(79.69% 0.1399 213.77deg);
    --cyan-500: oklch(72.23% 0.1297 217.94deg);
    --cyan-600: oklch(61.36% 0.1159 224.62deg);
    --cyan-700: oklch(52.34% 0.0994 225.31deg);
    --cyan-800: oklch(45.10% 0.0845 223.78deg);
    --cyan-900: oklch(39.71% 0.0698 227.18deg);
    --cyan-950: oklch(30.15% 0.0565 230.15deg);
    --sky-50: oklch(97.71% 0.0124 236.57deg);
    --sky-100: oklch(95.07% 0.0258 235.32deg);
    --sky-200: oklch(90.05% 0.0578 230.89deg);
    --sky-300: oklch(82.71% 0.1090 229.19deg);
    --sky-400: oklch(74.84% 0.1551 233.24deg);
    --sky-500: oklch(69.20% 0.1595 240.37deg);
    --sky-600: oklch(59.33% 0.1505 245.36deg);
    --sky-700: oklch(50.40% 0.1281 245.45deg);
    --sky-800: oklch(44.55% 0.1073 242.78deg);
    --sky-900: oklch(39.07% 0.0893 240.60deg);
    --sky-950: oklch(29.32% 0.0658 242.90deg);
    --blue-50: oklch(97.05% 0.0141 254.61deg);
    --blue-100: oklch(93.19% 0.0316 255.58deg);
    --blue-200: oklch(88.20% 0.0588 253.97deg);
    --blue-300: oklch(80.71% 0.1006 250.44deg);
    --blue-400: oklch(70.40% 0.1582 253.62deg);
    --blue-500: oklch(61.87% 0.2067 259.23deg);
    --blue-600: oklch(54.65% 0.2455 262.87deg);
    --blue-700: oklch(48.78% 0.2432 264.40deg);
    --blue-800: oklch(42.42% 0.1982 265.50deg);
    --blue-900: oklch(37.96% 0.1453 265.47deg);
    --blue-950: oklch(28.10% 0.0924 268.13deg);
    --indigo-50: oklch(96.19% 0.0179 272.35deg);
    --indigo-100: oklch(92.99% 0.0334 272.81deg);
    --indigo-200: oklch(86.95% 0.0638 273.32deg);
    --indigo-300: oklch(78.33% 0.1100 274.48deg);
    --indigo-400: oklch(66.96% 0.1766 276.95deg);
    --indigo-500: oklch(58.33% 0.2305 277.07deg);
    --indigo-600: oklch(51.01% 0.2618 276.94deg);
    --indigo-700: oklch(45.62% 0.2396 276.94deg);
    --indigo-800: oklch(39.88% 0.1948 277.32deg);
    --indigo-900: oklch(35.88% 0.1436 278.82deg);
    --indigo-950: oklch(25.71% 0.0908 281.44deg);
    --violet-50: oklch(96.91% 0.0160 293.85deg);
    --violet-100: oklch(94.33% 0.0284 294.64deg);
    --violet-200: oklch(89.46% 0.0562 293.08deg);
    --violet-300: oklch(81.01% 0.1055 293.71deg);
    --violet-400: oklch(69.89% 0.1759 294.12deg);
    --violet-500: oklch(60.05% 0.2424 293.90deg);
    --violet-600: oklch(54.04% 0.2810 292.86deg);
    --violet-700: oklch(49.07% 0.2699 292.57deg);
    --violet-800: oklch(43.16% 0.2320 292.72deg);
    --violet-900: oklch(38.01% 0.1888 293.64deg);
    --violet-950: oklch(28.40% 0.1414 291.30deg);
    --purple-50: oklch(97.68% 0.0142 308.43deg);
    --purple-100: oklch(94.64% 0.0327 307.23deg);
    --purple-200: oklch(90.05% 0.0620 307.23deg);
    --purple-300: oklch(82.54% 0.1134 307.80deg);
    --purple-400: oklch(71.00% 0.1961 307.12deg);
    --purple-500: oklch(62.17% 0.2588 305.32deg);
    --purple-600: oklch(55.76% 0.2877 302.31deg);
    --purple-700: oklch(49.81% 0.2634 301.69deg);
    --purple-800: oklch(43.83% 0.2179 303.92deg);
    --purple-900: oklch(38.02% 0.1761 304.79deg);
    --purple-950: oklch(29.09% 0.1487 303.00deg);
    --fuchsia-50: oklch(97.73% 0.0173 320.18deg);
    --fuchsia-100: oklch(95.20% 0.0360 318.91deg);
    --fuchsia-200: oklch(90.24% 0.0766 319.94deg);
    --fuchsia-300: oklch(83.34% 0.1427 322.29deg);
    --fuchsia-400: oklch(73.82% 0.2367 322.69deg);
    --fuchsia-500: oklch(66.64% 0.2950 322.09deg);
    --fuchsia-600: oklch(59.85% 0.2831 322.77deg);
    --fuchsia-700: oklch(52.32% 0.2461 323.83deg);
    --fuchsia-800: oklch(45.16% 0.2109 324.71deg);
    --fuchsia-900: oklch(40.07% 0.1703 325.41deg);
    --fuchsia-950: oklch(29.27% 0.1362 325.85deg);
    --pink-50: oklch(97.14% 0.0141 343.36deg);
    --pink-100: oklch(94.82% 0.0276 342.34deg);
    --pink-200: oklch(89.85% 0.0615 343.48deg);
    --pink-300: oklch(82.26% 0.1190 346.18deg);
    --pink-400: oklch(71.76% 0.2017 349.71deg);
    --pink-500: oklch(65.58% 0.2404 354.32deg);
    --pink-600: oklch(59.79% 0.2417 1.38deg);
    --pink-700: oklch(53.17% 0.2137 4.82deg);
    --pink-800: oklch(46.07% 0.1854 4.11deg);
    --pink-900: oklch(40.82% 0.1533 2.23deg);
    --pink-950: oklch(28.41% 0.1089 3.60deg);
    --rose-50: oklch(96.94% 0.0152 12.54deg);
    --rose-100: oklch(94.14% 0.0298 12.64deg);
    --rose-200: oklch(89.16% 0.0584 9.11deg);
    --rose-300: oklch(80.64% 0.1124 11.61deg);
    --rose-400: oklch(70.57% 0.1900 12.99deg);
    --rose-500: oklch(64.35% 0.2452 16.51deg);
    --rose-600: oklch(59.68% 0.2396 19.70deg);
    --rose-700: oklch(52.54% 0.2107 18.95deg);
    --rose-800: oklch(45.91% 0.1835 14.56deg);
    --rose-900: oklch(41.05% 0.1590 10.20deg);
    --rose-950: oklch(27.00% 0.1049 12.30deg);
}


:root {
    --background: var(--colors-white);
    --foreground: var(--colors-black-normal-active);

    --card: var(--colors-white);
    --card-foreground: var(--colors-black-normal);
    --popover: var(--colors-white);
    --popover-foreground: var(--colors-black-normal);

    --primary: var(--colors-primary-normal);
    --primary-foreground: var(--colors-white);

    --secondary: var(--colors-primary-light);
    --secondary-foreground: var(--colors-black-normal);

    --muted: var(--gray-100);
    --muted-foreground: var(--gray-600);

    --accent: var(--colors-blue-accent-normal);
    --accent-foreground: var(--colors-black-normal);

    --destructive: var(--colors-red-danger-normal);
    --destructive-foreground: var(--colors-white);

    --border: var(--colors-black-normal);
    --input: var(--colors-black-light-active);
    --ring: var(--gray-500);


    --sidebar: var(--colors-white);
    --sidebar-foreground: var(--colors-black-normal);
    --sidebar-primary: var(--colors-primary-normal);
    --sidebar-primary-foreground: var(--colors-white);
    --sidebar-accent: var(--gray-50);
    --sidebar-accent-foreground: var(--colors-black-normal);
    --sidebar-border: var(--gray-100);
    --sidebar-ring: var(--gray-500);

    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --radius: 0.625rem;

    --shadow-xs: 0 1px 3px 0 hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0 hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 8px 10px -1px hsl(0 0% 0% / 0.10);

    /* Інше */
    --spacing: 0.25rem;
    --tracking-normal: 0em;
}


@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-serif: var(--font-serif);
    --font-mono: var(--font-mono);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}
