@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
}

@theme inline{
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --color-typography-secondary: rgba(59, 88, 116, 1);
    --color-typography-accent: rgba(48, 58, 244, 1);
    --color-typography-description: rgba(216, 215, 245, 1);
    --color-typography-foreground: rgba(11, 27, 42, 1);

    --color-accent: rgba(48, 58, 244, 1);
    --color-accent-60: rgba(48, 58, 244, 1);
    --color-accent-40: rgba(48, 58, 244, 1);
    --color-secondary: rgba(59, 88, 116, 1);
    --color-secondary-60: rgba(59, 88, 116, 1);
    --color-secondary-40: rgba(59, 88, 116, 1);

    --color-foreground: rgba(11, 27, 42, 1);
    --color-background: rgba(216, 215, 245, 1);

    --font-namu: "NAMU";
    --font-mulish: "Mulish";
}

@font-face {
    font-family: NAMU;
    src: url(/fonts/NAMU-1990.ttf) format("truetype");
}

@layer base {

}

body{
    color: var(--color-foreground);
}
